name: Telegram Bot 24/7

on:
  schedule:
    - cron: '0 */4 * * *' # প্রতি ৪ ঘণ্টা পর পর রান হবে
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "python-telegram-bot[job-queue]" deep-translator gTTS

      - name: Run Bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: python bot.py
